body{
  background-color: #424242;
}

h1{
  font-size: 40;
  margin-top: 100;
  color:#EAECEE;
  text-align: center;
  font-family: 'Megrim', cursive;

}

h2{
  font-size: 38;
  color:#EAECEE;
  text-align: center;
  font-family: 'Megrim', cursive;
}

 h3{
   font-size: 36;
   color:#EAECEE;
   text-align: center;
   font-family: 'Megrim', cursive;
 }

 h4{
   font-size: 34;
   color:#EAECEE;
   text-align: center;
   font-family: 'Megrim', cursive;
 }

 h5{
   font-size: 32;
   color:#EAECEE;
   text-align: center;
   font-family: 'Megrim', cursive;
 }

 p{

     font-size: 35;
     color:#EAECEE;
     text-align: center;
     font-family: 'Montserrat', cursive;
 }

 a:link, a:visited{
     color: #B9F6CA;
     text-align: center;
     display: block;
     margin: 0 auto;
     font-size: 30;
     font-family: 'Megrim', cursive;
     text-decoration: none;
 }
